<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>电饭煲定时计算</title>
</head>

<body>
    <a href="/">日常工具</a>
    <h2>电饭煲定时计算</h2>
    <form action="dfb" method="POST">
        <label for="cooktime">煮饭需要时间（分钟）:</label>
        <input type="text" name="cooktime" required value={{ .Cooktime }}>
        <br>
        <label for="mealtime">需要几点钟饭煮好:</label>
        <input type="datetime-local" name="mealtime" value="{{ .DateTime }}">
        <button>查询</button>
    </form>

    {{ .Message }}
</body>

</html>